@import "tailwindcss";

/* with this utlity its hidden. should we style or hide? */

@theme {
  --color-peach: oklch(0.9605 0.0162 64.67);
  --color-midnightgreen: oklch(0.3204 0.0511 192.91);
  --color-dartmouth: oklch(0.4783 0.0975 164.85);
  --color-pigment: oklch(0.6176 0.1681 150.04);
  --color-mantis: oklch(0.7282 0.1609 140.16);
  --color-ashgrey: oklch(0.8323 0.0177 173.95);
  --color-cinereous: oklch(0.6825 0.0234 46.87);
  --color-pastelgray: oklch(0.8342 0.0338 223.48);
  --color-dustgreen: oklch(0.4519 0.046 162.1);
  --color-vanillaice: oklch(0.9137 0.0273 223.24);
  --color-rusty: oklch(0.6609 0.1561 44.91);
  --color-darkice: oklch(0.6244 0.0306 222.56);
  --color-seagreen: oklch(0.6336 0.0739 170.78);
  --color-lightorange: oklch(0.6178 0.1324 70.26);

  --font-sans: Verdana, sans-serif;
}
